{% extends 'layout/basic.html' %}
{% load index %}
{% load static %}

{% block link %}

<link rel="stylesheet" href="{% static 'app/form.css' %}">

{% endblock %}
{% block active %}

{% endblock %}



{% block section %}





<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">Все пользователи ботов</h4>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px">
                        <!-- <nav class="dropdownmenu">
                            <ul>
                        
                              <li><a style="padding: 5px 160px 5px 110px;">{{ filter }}</a>
                                <ul id="submenyu">
                                  <li><a href="{% url 'bot_users' 'все' %}">все</a></li>
                                  <li><a href="{% url 'bot_users' 'за сегодня' %}">за сегодня</a></li>
                                  
                              
                                </ul>
                              </li>
                        
                            </ul>
                        </nav> -->
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" id="userTable">
                    <thead>
                        <tr>
                            
                            <th>Имя</th>
                            <th>Дата регистрации</th>
                            <th>Баланс</th>
                            <th>Номер телефон</th>
                            <th>Кол. выполненных заданий</th>
                            <th>Действия</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                        <tr>
                            <th>{{ u.name }}</th>
                            <th>{{ u.date|date:"d.m.Y" }}</th>
                            <th>{{ u.balance }}</th>
                            <th>{{ u.phone }}</th>
                            <th>{{ u.c_task }}</th>
                            <td><a id = "a" href="{% url 'delete_user' u.pk filter %}" onclick="return confirm(&#39;Вы уверены?&#39;)" class="btn btn-danger btn-flat bg-red"><i class="fas fa-trash" aria-hidden="true"></i></a>
                            <a id = "a" href="{% url 'checked_tasks' u.user_id %}"  class="btn btn-danger btn-flat bg-red">Задания</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


